<!DOCTYPE html>
<head>
	<title> Gestione Libri</title>
	<meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script type="text/javascript" src="/static/js/s1.js"></script>

</head>


<body class="blue">
	
	<div class="row" style="margin-bottom: 0px !important">		
		<nav>
			<div class="nav-wrapper blue">
				<ul class="left hide-on-med-and-down">
					<li><a class="btn blue btn-large waves-effect waves-light center-align" href="/"><i class="large material-icons">home</i></a>
					</li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li><a href="/ricerca">Cerca Libro</a></li>
					<li><a href="/areaPrestiti">Area Prestiti</a></li>
					<li><a href="/gestioneLibri">Gestione Libri</a></li>
					<li><a onclick="location.reload();"><i class="material-icons">refresh</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div class="row blue full-height" style="margin-bottom: 0px !important;">
		<div class="col s1"></div>

		<div class="row col s10 center-align white">
			<div class="row">
				<br>
				<div class="col s6 offset-s3 white-text z-depth-5 blue">
					<form id="formRicerca" method="post" action="gestioneLibri" enctype="multipart/form-data">
						<div class="card">
							<div class="card-content white-text">
								<p class="bold" style="font-size: 20px;"> Menu Libro </p>
							</div>
							<div class="card-tabs">
								<ul class="tabs tabs-fixed-width tabs-transparent">
									<li class="tab" id="t1" onclick="t1();enableCreation();"><a class="active" id="at1">Aggiungi</a></li>
									<li class="tab" id="t2" onclick="t2();disableCreation();"><a id="at2">Rimuovi</a></li>
									<li class="indicator"></li>
								</ul>
							</div>
							<hr>
							<div class="card-content">			
							
								<div id="card1" class="active" style="display:block">
									<div class="row">
										<div class="card cardCatalogo blue col s8 offset-s2" style="border:2px solid white; padding:4px;">		
											<br>
											<div class="card-image waves-effect waves-block waves-light blue" style="padding-top:8px;">
												<center>
													<img id="preview" class="preview"/>
												</center>
												<input type="file" id="file" style="display: none;" name="imgCopertina" onchange="previewImmagine(event)" accept=".jpg,.jpeg,.png"></input>
												<label for="file" class="blue-text btn-large waves-effect white"> Upload Copertina</label>
											</div>
											<div class="card-content blue text-white center-align">									
												<ul class="collection" style="border:none;">
													<span class="card-title activator blue-text"><i class="small material-icons center waves-effect waves-light btn blue btn-medium" style="border-radius:15px;">border_color</i></span>
													<li class="white-text" style="display: inline-block;">Isbn: <p style="display:inline-block;" id="create1"></p></li><br>
													<li class="white-text" style="display: inline-block;">Titolo: <p style="display: inline-block;"id="create2"></p></li><br>
													<li class="white-text" style="display: inline-block;">Descrizione: <p style="display: inline-block;"id="create3"></p></li><br>
													<li class="white-text" style="display: inline-block;">Editore: <p style="display: inline-block;"id="create4"></p></li><br>
													<li class="white-text" style="display: inline-block;">Anno Di Publicazione: <p style="display: inline-block;"id="create5"></p></li><br>
													<li class="white-text" style="display: inline-block;">Lingua: <p style="display: inline-block;"id="create6"></p></li><br>
													<li class="white-text" style="display: inline-block;">Pagine: <p style="display: inline-block;"id="create7"></p></li><br>
													<li class="white-text" style="display: inline-block;">Copie: <p style="display: inline-block;"id="create8"></p></li><br>
													<li class="white-text" style="display: inline-block;">Categoria: <p style="display: inline-block;"id="create9"></p></li><br>
													<li class="white-text" style="display: inline-block;">Dislocazione: <p style="display: inline-block;"id="create10"></p></li>

												</ul>
												<button class="btn-large waves-effect waves-light blue" type="submit" name="creaLibro">Crea<i class="large material-icons right">add</i></button>

											</div>
											<div class="card-reveal blue">
												<span class="card-title white-text center">Creazione Libro<i class="material-icons right" onclick="updateCreation()">close</i></span><br>
												<ul class="collection" style="border:none;">
													<input class="isbn" id="createInput1" type="number" placeholder="Isbn" name = "isbn" required></input>
													<input class="titolo" id="createInput2" placeholder="Titolo" name = "titolo" required></input>
													<input class="descrizione" id="createInput3" placeholder="Descrizione" name = "descrizione" required></input>
													<input class="editore" id="createInput4" placeholder="Editore" name = "editore" required></input>
													<input class="anno_di_publicazione" type="number" minlength="4" maxlength="4" id="createInput5" placeholder="Anno di publicazione" name = "anno_di_publicazione" required></input>
													<input class="lingua" id="createInput6" type="text" placeholder="Lingua" name = "lingua" required></input>
													<input class="pagnie" id="createInput7" type="number" min="1" placeholder="Pagine" name = "pagine" required></input>
													<input class="n_copie" id="createInput8" type="number" min="0" placeholder="N° copie" name = "n_copie" required></input>
													<input class="categoria" id="createInput9" type="text" placeholder="Categoria" name = "categoria" required></input>
													<input class="dislocazione" id="createInput10" type="text" placeholder="Dislocazione" name = "dislocazione" required></input>
												</ul>
											</div>
										</div>
										
									</div>				
								</div>
								<div id="card2" style="display:none">	
									<div class="row">
										<input id="delLibroId" type="number" class="isbn" placeholder="inserisci l'isbn del libro" name="isbn"></input>
										<br>
										<button id="upImgCop" class="btn-large waves-effect waves-light blue" type="submit" name="rimuoviLibro">Rimuovi<i class="large material-icons right">cancel</i></button>
										<script>
											msg = "{{msg}}"
											if (msg.length > 0){
												alert("{{msg}}");
											}
										</script>
									</div>
								</div>					
							</div>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>

	
		<div class="col s1"></div>
		
	</div> 
	<footer class="page-footer blue waves-effect waves-block waves-ligh bottom" style="position:fixed; bottom:0; width: 100%;">
		<div class="container">
		  <div class="row">
			<div class="col l6 s12">
			  <h5 class="white-text">Biblioteca</h5>
			  <p class="grey-text text-lighten-4">Comini - Follosco - Papa - Villanueva</p>

			</div>
			<div class="col l3 s12">
			  <h5 class="white-text"></h5>
			  <ul>
				<li><a class="white-text"></a></li>
			  </ul>
			</div>
			<div class="col l3 s12">
			  <h5 class="white-text">More</h5>
			  <ul>
				<li><a class="white-text" href="https://github.com/r-vil/machine_learning_biblioteca">GitHub</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	</footer>
</body>